body {
    background-color:#B1BF8F;
}

.btn, .submit {
    /*margin: 50px 10px 50px 10px;*/
    border-radius: 20px;
    /*background-image:linear-gradient(#aaaaaa, white);*/
    background-color: transparent;
    color: black; 
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    border: transparent;
}

.jumbotron {
    /*background-color: rgb(36, 34, 34);*/
    background-image:linear-gradient(rgb(44, 16, 16), black);
    width: 50%;
    margin: auto;
}

h1 {
    margin: 20px auto 20px auto;
    font-size: 100px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-align: center;
    border: 10px solid white;
    box-shadow: 3px 3px 5px 6px black;
    
}

p {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    margin-left: 15px;
}

.input {
    font-family: 'Titillium Web', sans-serif;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-form {
    text-align: center;
    margin-left: auto;
    margin-bottom: 50px;
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gifs {
    margin: 10px;
}

img {
    border: 2px solid black;
}

form {
    margin-top: 20px;
}

::-webkit-input-placeholder {
    padding: 5px;
}