body {
    background-color:#B1BF8F;
}

.btn {
    width: 100px;
    height: 30px;
    margin: 50px 10px 50px 10px;
    border-radius: 20px;
    /*background-image:linear-gradient(#aaaaaa, white);*/
    background-color: transparent;
    color: black; 
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    /*border: transparent;*/
}

h1 {
    font-size: 100px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    margin: 0px;
    float: left;
    float: clear;
}

.input {
    font-family: 'Titillium Web', sans-serif;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

.input-form {
    float: left;
    text-align: center;
    margin-left: 200px;
}